.box {
	width: 54%;
	left: 23%;
	position: relative;
}
.sidebar {
  float: right;
  position: relative;
  right: 23%;
  top: -82px;
  position: relative;
}

.entry img {
  width: 200px auto;
  height: auto;
  float: left;
}

.entry p {
  width: 25%;
  margin: 0;
  padding: 0;
  float: left;
}
